<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	
	 	<title>Voxy Labs</title>
	 	<meta name="description" content="The testing grounds for the most innovative language learning course in the world!">
	 	<meta name="viewport" content="width=device-width">
		<link href="http://d1t5bup2xhhy7o.cloudfront.net/static_78d8f06b67935d3f99f8754e5f0950cc/img/favicon.ico" rel="icon" type="image/x-icon">

		<!--CSS-->	 	
	 	<!--3rd party CSS-->
	 	<link rel="stylesheet" href="css/reset.css">
	 	<link rel="stylesheet" href="css/styles.css">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"> <!--core bootstrap-->
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css"> <!--optional bootstrap theme-->

	 	<!--Voxy CSS-->
	 	<link rel="stylesheet" href="http://d1t5bup2xhhy7o.cloudfront.net/static_48d2da37bdf402702ab64558e3ad1634/css/guide.css" type="text/css">
	 	<link rel="stylesheet" href="http://d1t5bup2xhhy7o.cloudfront.net/static_a336cb6fcfd37090bf83624b84c9377b/css/activity_workspace.css" type="text/css"/>
	 	<link rel="stylesheet" href="http://d1t5bup2xhhy7o.cloudfront.net/static_a336cb6fcfd37090bf83624b84c9377b/css/personalize.css" type="text/css"/>
	 	<link rel="stylesheet" href="css/labs.css" type="text/css">	 	
		
		<!--FONTS CSS-->
		<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> <!--fontawesome for icons-->
		
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	</head>

	<body>
		<div class="container-fluid" id="container">
		</div>
		
		<!--TEMPLATES-->
		<!--Labs Home template-->
		<script type="text/template" id="labs-home-template">
			<div class="col-md-12">
				<div class="col-md-2">
					<button class="btn btn-primary btn-large"><< Back to Voxy.com</button>
				</div>
				<div class="col-md-8 bump-up-20">
					<h1>Welcome to Voxy Labs</h1>
					<h3 class="bump-down-20"><strong>Voxy Labs</strong> is where we experiment with new ideas to make Voxy even more effective at teaching languages; tell us which ideas you like and we'll build them into your course!</h3>
				</div>
				<div class="col-md-2">
					<a href="labs.html#admin/dashboard" class="admin-link pull-right">Admin <i class="icon-edit"></i></a>
				</div>
			</div>

			<div class="col-md-12 row margin-base-vertical">
				<div class="col-md-4 widget widget-experiment" id="video-lesson-experiment">
					<div class="media">
						<div class="media-object pull-left">
							<i class="icon-youtube-play icon4x"></i>
						</div>
						<div class="media-body">
							<div class="media-heading hdr pull-left">Video Lessons</div>
							<p class="text-left bump-down-20">We're planning to add Videos to Voxy very soon.  Tell us which videos would be most helpful to your learning.</p>					
						</div>		
					</div>
				</div>
								 
				<div class="col-md-4 widget widget-experiment" id="speaking-survey">
					<div class="media">
						<div class="media-object pull-left">
							<i class="icon-microphone icon4x"></i>
						</div>
						<div class="media-body">
							<div class="media-heading hdr pull-left">Speaking Practice</div>
							<p class="text-left bump-down-20">There are a few ways we can help you speak better.  Tell us which is most important for your learning.</p>					
						</div>		
					</div>
				</div>
								
				<div class="col-md-4 widget widget-experiment" id="notifications-survey">
					<div class="media">
						<div class="media-object pull-left">
							<i class="icon-bullhorn icon4x"></i>
						</div>
						<div class="media-body">
							<div class="media-heading hdr pull-left">Study Reminders</div>
							<p class="text-left bump-down-20">Reminders help you stay on course with your studies.  Tell us when you prefer to study and we'll keep you on track.</p>					
						</div>		
					</div>
				 </div>			
			</div>
		</script>
		
		<!--Experiment Template-->
		<script type="text/template" id="experiment-template">
			<div id="experiment-header"></div>
			<div id="experiment-body">test experiment body</div>
		</script>
		
		<!--Labs Admin Tempalte-->
		<script type="text/template" id="labs-admin-template">
			<div class="col-md-12 bump-up-20" id="admin-header">
				<div class="col-md-8">
					<h1 class="pull-left">Voxy Labs</h1>
				</div>
				<div class="col-md-4">
					<a href="labs.html">
						<button id="goto-live-labs" class="btn btn-large btn-block btn-success">Go To Live Labs page >></button>
						<a href="#" class="pull-right" id="log-out"><p>log out</p></a>
					</a>
				</div>
			</div>
			
			<div class="col-md-12" id="admin-body">
				<div class="col-md-8 col-xs-12">
					<h4 class="pull-left bump-up-20">Active Experiments</h4>
				</div>
				
				<div class="col-md-4 col-xs-12">
					<h4 class="pull-left">Comments from Users</h4>
				</div>
				
				<div class="col-md-8 col-xs-12">
					<ul class="list-group" id="admin-experiment-list">
						<li id="ling-ping-widget" class="list-group-item  widget widget-experiment col-md-12 col-xs-12 text-left">
							<h2 class="hdr">LingPing</h2>
							<p>Send SMS messages to learners</p>
						</li>
						
						<li class="list-group-item widget widget-experiment col-md-12 col-xs-12 text-left" id="video-experiment-widget">
							<h2 class="hdr">Video Hot-or-not</h2>
							<span class="badge badge-negative pull-right"><%= totalDislikes %></span>
							<span class="badge badge-positive pull-right"><%= totalLikes %></span>
						</li>
						
						<li class="list-group-item widget widget-experiment col-md-12 col-xs-12 text-left">
							<h2 class="hdr">Auto-Speech Feedback Survey</h2>
						</li>
					</ul>
				</div>
				
				<div class="col-md-4">
					<div class="col-md-12 well">
						<p>feed comments here</p>
						<p>feed comments here</p>
						<p>feed comments here</p>
						<p>feed comments here</p>
						<p>feed comments here</p>
						<p>feed comments here</p>
					</div>
				</div>
			</div>
		</script>
		
		<!--send SMS template-->
		<script type="text/template" id="send-sms-template">
			<h1 class="margin-base-vertical">LingPing</h1>
			<div class="container">
				<p class="text-left">Send SMS messages to users.  Enter phone numbers in the input below (no dashes or other symbols), comma-separated.  Type your message in and viola</p>
				<div class="form col-md-6 col-md-offset-1">
					<h3>Send SMS Form</h3>
					<!--<div class="form-group">
						<label class="text-left" for="campaign-name">Campaign Name</label>
						<input type="text" class="form-control" id="campaign-name" placeholder="Fala melhor agora">
					</div>-->
					<div id="sms-error" class="alert labs-alert-danger"></div>
					<div class="form-group">
						<label class="text-left" for="phone-number">Phone Number</label>
						<textarea class="form-control" id="numbers-input" placeholder="8675309"></textarea>
						<input type="file" id="csv-input" accept=".csv">
					</div>
					<div class="form-group">
						<label class="text-left" for="sms-message-input">Message</label>
						<textarea class="form-control" rows="5" id="sms-message-input" placeholder="Enter your message..."></textarea>
						<span class="text-left row help-block">Characters: 
							<span id="sms-msg-characters">140</span>
						</span>				
					</div>
					<button id="send-sms-btn" class="pull-left btn btn-primary btn-large col-md-6">Send SMS</button>
				</div>
				<div id="message-log" class="col-md-4 help-block text-left">
					<h6>Status</h6>
					<div>Successes: <span id="success-count"></span></div>
					<div>Errors: <span class="labs-alert-danger" id="error-count"></span></div>
					<h6>Logs</h6>
				</div>
			</div>
		</script>
		
		<!--upload video template-->
		<script type="text/template" id="upload-video-template">
			<h3 class="margin-base-vertical">Upload New Video</h3>
			<div class="col-md-6 col-md-offset-3">
				<form role="form">
					<div class="form-group">
						<input type="url" class="input-lg form-control" id="video-url-input" placeholder="embed URL">
					</div>
					
					<div class="form-group">
						<input type="text" class="input-lg form-control" id="video-title-input" placeholder="title">
						<span class="text-left row help-block">Characters: 
							<span id="video-title-characters">58</span>
						</span>
					</div>
					
					<div class="form-group">
						<input type="text" class="input-lg form-control" id="video-description-input" placeholder="description">
						<span class="text-left row help-block">Characters: 
							<span id="video-description-characters">108</span>
						</span>							
					</div>
					
					<div class="form-group">
						<input class="input-lg form-control" id="video-start-time-input" placeholder="start time (in seconds)">
					</div>
					
					<div class="form-group">
						<button class="btn btn-large btn-block btn-primary" id="upload-video-btn">Upload</button>
					</div>
				</form>
			</div>
		</script>
		
		<!--Video Experiment Header Template-->
		<script type="text/template" id="video-header-template">
			<div class="col-md-12">
				<h1>Video Lessons</h1>
				<h3 class="bump-down-20">Tell us which of the following Videos you want to see in your Voxy Lessons</h3>
			</div>
		</script>
		
		<!--Video Hot-or-not Model Template-->
		<script type="text/template" id="video-model-template">
			<div class="col-md-3">
				<div class="thumbnail video-modal-card bump-down-20">
					<h4 class="clip"><%= title %></h4>
					<div class="col-md-12">
						<iframe src="<%= videoUrl %>?time=<%= startTime %>" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" width="100%" height="165"></iframe>
						<!--YOUTUBE iframe--><!--<iframe width="100%" height="165" src="http://<%= videoUrl %>?origin=http//voxylabs.parseapp.com&start=<%= startTime %>" frameborder="0" allowfullscreen></iframe>-->
					</div>
					<p><%= description %></p>
					<div class="col-md-12 row-fluid margin-base-vertical like-dislike">
						<button class="btn btn-primary col-md-4 thumbs-up indigo"><icon class="icon-thumbs-up"></icon></button>
						<button class="btn btn-primary col-md-4 col-md-offset-4 thumbs-down indigo"><icon class="icon-thumbs-down"></icon></button>
					</div>
					<div class="thanks">
						<p class="text-success vertical-align"><strong><em>THANKS!</em></strong></p>
					</div>
					<div class="positive-feedback-form">
						<p class="text-danger feedback-question-positive">What did you like about this video?</p>
					    <textarea class="form-control positive-feedback-input" rows="2"></textarea>
					    <button class="btn btn-primary btn-block positive-feedback-submit" type="button">Submit</button>
				    </div>
				    <div class="negative-feedback-form">
						<p class="text-danger feedback-question-negative">Why didn't you like this video?</p>
					    <textarea class="form-control negative-feedback-input" rows="2"></textarea>
					    <button class="btn btn-primary btn-block negative-feedback-submit" type="button">Submit</button>
				    </div>
				</div>
			</div>
		</script>
		
		<!--Video results template-->
		<script type="text/template" id="video-results-template">
			<div class="col-md-12">
				<button type="button" class="btn btn-xs bump-up-10" id="upload-video-link"><i class="icon-cloud-upload"></i> Upload New Video</button>	
			</div>
			<div class="col-md-6" id="most-liked-videos">
				<h3 class="col-md-12 hdr text-left bump-up-20">Most Liked Videos</h3>
			</div>
			
			<div class="col-md-6" id="least-liked-videos">
				<h3 class="col-md-12 hdr text-left bump-up-20">Least Liked Videos</h3>
			</div>
		</script>
		
		<!--Video Model results template-->
		<script type="text/template" id="video-model-results-template">
			<div class="col-md-12 widget widget-experiment">
				<div class="col-md-9">
					<h3 class="hdr text-left"><%= title %></h3>
					<p class="text-left"><%= description %></p>
				</div>
				<div class="col-md-3">
					<span class="badge badge-positive"><%= likes %></span>
					<span class="badge badge-negative"><%= dislikes %></span>
				</div>
			</div>
		</script>
		
		<!--Video Feedback template-->
		<script type="text/template" id="video-feedback-template">
			<div class="col-md-6 col-md-offset-3" id="video-feedback-container">
				<iframe width="420" height="315" src="<%= videoUrl %>?origin=http://voxylabs.parseapp.com" frameborder="0" allowfullscreen></iframe>
				<h3 class="hdr"><%= title %></h3>
				<p><%= description %></p>
				<span class="badge badge-positive"><%= likes %></span>
				<span class="badge badge-negative"><%= dislikes %></span>
				<h2>Comments</h2>
			</div>
		</script>
		
		<!--Comment template-->
		<script type="text/template" id="video-comment-template">
			<div class="panel panel-default panel-comment well">
				<div class="panel-body">
					<p><%= comment %></p>
				</div>
			</div>
		</script>

		<!--Speaking Survey Template-->
		<script type="text/template" id="speaking-survey-template">
			<div class="col-md-12">
				<h1 class="margin-base-vertical">Speaking Survey</h1>
				<h4>Which of the following ways to practice speaking do you prefer?</h4>
			</div>
			
			<form role="form" class="col-md-6 col-md-offset-3" id="speaking-survey">
				<div class="radio">
					<label class="col-md-12">
						<div class="row">
							<input type="radio" class="col-md-1" id="speaking-asr" name="speaking" value="speaking-asr">
							<div class="col-md-1">
								<i class="icon-microphone icon4x pull-left"></i>
							</div>
							<div class="col-md-10">
								<p class="text-left">Practice speaking in private on your phone and a computer will analyze your pronunciation and tell you which part of the word you need to practice.</p>
							</div>
						</div>
					</label>
				</div>
				
				<div class="radio">
					<label class="col-md-12">
						<div class="row">
							<input type="radio" class="col-md-1" id="speaking-async" name="speaking" value="speaking-async">
							<div class="col-md-1">
								<i class="icon-paperclip icon4x pull-left"></i>
							</div>
							<div class="col-md-10">
								<p class="text-left">Practice speaking in private and submit your speech samples to native tutors, who will send you an explanation of what you can do to speak better.</p>
							</div>
						</div>
					</label>
				</div>
				
				<div class="radio">
					<label class="col-md-12">
						<div class="row">
							<input type="radio" class="col-md-1" id="speaking-live" name="speaking" value="speaking-live">
							<div class="col-md-1">
								<i class="icon-facetime-video icon4x pull-left"></i>
							</div>
							<div class="col-md-10">
								<p class="text-left">Practice speaking with a native tutor in a one-on-one video chat.</p>
							</div>
						</div>
					</label>
				</div>
			</form>
			
			<div class="col-md-12">
				<div class="col-md-6 col-md-offset-3">
					<button class="btn btn-large btn-success btn-block">Vote</button>
				</div>
			</div>
		</script>		
		
		<!--Javascript files-->
		<!--3rd party javascript-->  
	 	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript" src="http://underscorejs.org/underscore.js"></script>
		<script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.9.min.js"></script>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>
	
		<!--application javascript files-->
	 	<script type="text/javascript" src="js/models.js"></script>
	 	<script type="text/javascript" src="js/views.js"></script>
	 	<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
